html{
  height: 100%;
  min-height: 100%;
  font-family: "Consolas";
}

body{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2.5%;
  background-color: White;
  color: #373737;
  margin-left: 0,0,200;
  font-family: "Consolas";
}

footer{
  text-align: center;
  width:100%;
  height:200px;
  border-width:1px 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #434245;
  overflow: hidden;
}

img{
  border-radius: 5px;
  position: sticky;
  margin-right: 1%;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.nav2{
  border:0px solid #ccc;
  border-width:0px 0;
  list-style:none;
  margin:0;
  padding:0;
  width: 74%;
  font-size: 12pt;
  font-family: "consolas";
  display: inline-block;
}

.nav2 li{
  display: inline;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.nav2 a{
  text-decoration: none;
  color: black;
  display:inline-block;
  padding:10px;
}

.nav2 a:visited{
  text-decoration: none;
  color: ;
  display:inline-block;
  padding:10px;
}

.nav2 a:hover{
  text-decoration: underline;
  color: black;
}

.logo{
  background-color: #C0B283;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
  width: 40%;
  height: ;
}

table, th {
  text-align: center;
  vertical-align: middle;
  padding: 10px;

}

td{
  text-align: center;
  background-color: #E8FF91;
  border: 1px solid black;
  border-spacing: 5px;
}

.schedule{
  background-color: #C0B283;
  display: inline-block;
  text-align: center;
  width: 14%;
  height: 125.5px;
  border-radius: 4px;
  margin-left: : 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.schedule a{
  color: black;
}

.schedule a:hover{
  text-decoration: underline;
}

.sidebar{
  float: left;
  display: inline-block;
  width: 24%;
  margin-right: 3%;
}

.row{
  display: inline-block;
  min-height: 30%;
  height: 40%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 70%;
}

.row img{
  float: left;
  display: inline-block;
}

.row h3{
  margin-left: 10px;
}

.episode-row{
  margin-left: 10px;
}

.episode-example-container{
  display: inline-block;
  text-align: center;
  width: 32%;
  height: 33%;
  border-radius: 4px;
  margin-left: : 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.episode-container{
  display: inline-grid;
  text-align: center;
  width: 32%;
  height: 33%;
  border-radius: 4px;
  margin-left: : 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.episode-container img{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.episode-example{
  background-color: #C0B283;
  text-align: center;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  line-height:200px;
  margin-left: : 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container-new{
  margin: 10px;
}

.container-new img{
  margin-bottom: 50px;
}

.container-page{
  min-height: 100%;
  position: relative;
}

.login-form{
  display: inline-block;
  width: 70%;
  background-color: #C0B283;
  padding: 1.5%;
  margin-bottom: 10%;
  margin-left: 15%;
}

.login-form .input-box{
  width: 20%;
  align: center;
  margin-left: 40%;
}

.login{
  margin-left: 47%;
}

.control-panel{
  background-color: #DCD0D0;
  width: auto;
}

.thumbnail-container{
  display: inline-block;
}

.watch-container{
  width: 100%;
  height: auto;
  border-color: black;
}
.watch-container iframe{
  display: inline;
}

.banner{
  width: 400px;
  height: 150px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: rgb(18, 86, 136);
    color: white;
}

.fa-youtube{
  background: rgb(187, 0, 0);
  color: white;
}

.img-responsive{
  height: 100%;
  width: 40%;
}

.image2{
  width: 60%;
  height: 20%;
  float: right;
}

.image2 img{
  display: block;
  max-width: 100%;
  height: auto;
}

.contrib-container{
  width: 370px;
  display: inline-grid;
  height: 275px;
  margin: 2%;
  color: white;
  background-color: black;
  padding: 40px;
  border-radius: 4px;
}

.abouttext{
  font-size: 20pt;
  width: 35%;
  font-family: "Consolas";
}

.adminlog{
  float: right;
  display: inline-block;
  width: 6%;
  height: 13%;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
}

.adminlog a:hover{
  text-decoration: none;
}

.carousel-inner{
  width: 40%;
}

.about-pic{
  width: 50%;
  height: 20%;
  float: right;
  margin-bottom: 20px;
}

.about-pic img{
  display: block;
  max-width: 100%;
  height: auto;
}

.blog-title-pic{
  width: 100%;
  min-width: 100%;
  max-height: 300px;
  height: 30%;
}

.blog-body{
  width: 100%;
  min-width: 100%;
  min-height: 60%;
  height: 60%;
}

.blog-container{
  display: inline-block;
  background-color: #B1B6B5;
  width: 95%;
  height: 45%;
  padding: 5px;
  margin-bottom: 2%;
  margin-right: 1%;
}

.blog-container button{
  bottom: 1em;
  display: inline-block;
  float: right;
}

.blog-container p {
  margin: 0px;
}

.blog-block{
  width: 30%;
  height: 50%;
  max-height: 190px;
}

.recent-blog{
  width: 38%;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  height: 100%;
  float: left;
  margin-right: 1%;
}

.blog-feature{
  width: 100%;
}

.carosel{
  width: 40%;
}

.carousel-item img{
  width: 100%;
  max-height: 350px;
}

.search-bar{
  display: inline-block;
  width: 25%;
}

.construction{
  text-align: center;
  font-size: 30pt;
}

.about p{
  padding-right: 2%;
}
