html{
  height: 100%;
  min-height: 100%;
}

body{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2.5%;
  background-color: White;
  color: #373737;
  margin-left: 0,0,200;
}

footer{
  text-align: center;
  margin-top: 10%;
  width:100%;
  height:200px;
  border-width:1px 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #434245;
  overflow: hidden;
}

img{
  border-radius: 5px;
  position: sticky;
  margin-right: 10px;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.nav2{
  border:0px solid #ccc;
  border-width:0px 0;
  list-style:none;
  margin:0;
  padding:0;
  width: 100%;
  font-size: 14pt;
}

.nav2 li{
  display:inline;
}

.nav2 a{
  text-decoration: none;
  color: black;
  display:inline-block;
  padding:10px;
}

.nav2 a:visited{
  text-decoration: none;
  color: ;
  display:inline-block;
  padding:10px;
}

.nav2 a:hover{
  text-decoration: underline;
  color: black;
}

.logo{
  background-color: #C0B283;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
  width: 40%;
  height: ;
}

table, th {
  text-align: center;
  vertical-align: middle;
  padding: 10px;

}

td{
  text-align: center;
  background-color: #E8FF91;
  border: 1px solid black;
  border-spacing: 5px;
}

.schedule{
  background-color: #C0B283;
  display: inline-block;
  text-align: center;
  width: 14%;
  height: 125.5px;
  border-radius: 4px;
  margin-left: : 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.schedule a{
  color: black;
}

.schedule a:hover{
  text-decoration: underline;
}

.row{
  min-height: 30%;
  max-height: 30%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.row img{
  float: left;
}

.row h3{
  margin-left: 10px;
}

.episode-row{
  margin-left: 10px;
}

.episode-example-container{
  display: inline-block;
  text-align: center;
  width: 32%;
  height: 33%;
  border-radius: 4px;
  margin-left: : 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.episode-container{
  display: inline-block;
  text-align: center;
  width: 32%;
  height: 33%;
  border-radius: 4px;
  margin-left: : 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.episode-container img{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.episode-example{
  background-color: #C0B283;
  text-align: center;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  line-height:200px;
  margin-left: : 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container-new{
  margin: 10px;
}

.container-new img{
  margin-bottom: 50px;
}

.container-page{
  min-height: 100%;
  position: relative;
}

.login-form{
  display: inline-block;
  background-color: #C0B283;
  padding: 15px;
}

.control-panel{
  background-color: #DCD0D0;
  width: auto;
}

.thumbnail-container{
  display: inline-block;
}

.watch-container{
  width: 100%;
  height: auto;
  border-color: black;
}
.watch-container iframe{
  display: inline;
}

.banner{
  width: 400px;
  height: 150px;
}

.fa {
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display:inline-block;
  line-height: 50px;
  margin: 10px;
  margin-bottom: 5px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: rgb(18, 86, 136);
    color: white;
}

.fa-youtube{
  background: rgb(187, 0, 0);
  color: white;
}

.image1{
  width: 60%;
  height: 20%;
}

.image1 img{
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 20%;
}

.twitter-timeline a{
  display: inline-block;
  max-width: 50%;
}

.twitter-timeline div{
  width: 25%;
  height: 40%;
}

.image2{
  width: 60%;
  height: 20%;
  float: right;
}

.image2 img{
  display: block;
  max-width: 100%;
  height: auto;
}

.contrib-container{
  width: 25%;
  display: inline-block;
  height: 45%;
  margin: 2%;
}

.contrib-container img{
  display: block;
  max-width: 100%;
  height: auto;
}

.abouttext{
  font-size: 20pt;
  width: 35%;
}

.adminlog{
  float: right;
  display: inline-block;
  width: 4%;
  height: 12%;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
}

.adminlog a:hover{
  text-decoration: none;
}
